<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand me-4" href="/">
            <img src="/images/logo_sintexto.svg" class="svg-logost" alt="Logo">
            <span>Sonrisa Feliz</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!-- Espacio entre la marca y los links + separación entre links -->
            <ul class="navbar-nav ms-2 gap-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="pacienteLista.html">Administrar Pacientes</a></li>
                        <li><a class="dropdown-item" href="odontologoLista.html">Administrar Odontologos</a></li>
                        <li><a class="dropdown-item" href="turnoLista.html">Administrar Turnos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>